<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="96d2abe3-a989-41b5-8fee-ea70f58e4f38" name="SOAPTestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="96d2abe3-a989-41b5-8fee-ea70f58e4f38fileName">SOAPTestSuite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
